
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Mulish:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family: poppins, sans-serif;
}
body {
    margin: 1rem 2rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    position: relative;
    border: 1px solid black;
    padding: 5px;
    width: max-content;
}

.amount {
    position: absolute;
    padding: 5px;
    top: -80%;
    right: 5px;
    background-color: gray;
}

button {
    width: fit-content;
    padding: 10px;
    background-color: #3A3845;
}