@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Mulish:wght@400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins, sans-serif;
}

html {
    font-size: 14px;
    font-family: poppins, sans-serif;
}

body {
    font-family: poppins, sans-serif;
    height: 100vh;
    text-align: center;

}

header {
    margin-bottom: 3rem;
    box-shadow: 0 1px 5px #3A3845;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}
   
small {
    font-size: 0.75rem;
}

a {
    color: #3A3845;
}

.container {
    width: 40%;
    margin: auto;
    text-align: center;
    border: 1px solid #EFEFEF;
    padding: 2rem;
    margin-bottom: 5rem;
}

.buttons a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border: 1px solid;
    width: 200px;
    padding: 10px;
    margin: 10px auto 10px ;
}

.buttons {
    margin-bottom: 3rem;
}

.facebook {
    color: #1746A2;
}

.google {
    color: #FF1E1E;
}

form {
    margin-top: 2rem;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

input {
    border: 1px solid #3A3845;
    padding: 10px;
    width: 100%;
}

form button {
    width: 200px;
    background-color: #3A3845;
    color: white;
    padding: 10px;
    margin-bottom: 1rem;
}

small a {
    font-size: 0.75rem;
    color: blue;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    border-top: 1px solid #3A3845;
}
